p {
  color: whitesmoke;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}

.para {
  margin-left: 18%;
  background-color: white;
  color: navy;
  width: 60%;
  height: 40%;
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 2%;

}

.txt_field {
  margin-left: 6%;
}

.source {
  padding-top: 1%;
  height: 10%;
  width: 10%;
  text-align: center;
}

.button {

  cursor: pointer;
  text-align: center;
}